---
import AsesoriaPage from '../components/AsesoriaPage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Asesoria" description="Asesorias">
	


	<main>
	
	<AsesoriaPage />
			
	</main>
	
		
</Layout>