---
import ContactoPage from '../components/ContactoPage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto" description="Contacto">
	


	<main>
	
	<ContactoPage />
			
	</main>
	
		
</Layout>