---
import FirmaPage from '../components/FirmaPage.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Nuestra Firma" description="Nuestra Firma">
	


	<main>
	
	<FirmaPage />
			
	</main>
	
		
</Layout>