---
import FirmaPage from '../components/FirmaPage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Abogado Juridico" description="Nuestra Firma">
	


	<main>
	
	<FirmaPage />
			
	</main>
	
		
</Layout>