---

import Layout from '../layouts/Layout.astro';

import Video from '../components/Video.astro';
import Servicios from '../components/Servicios.astro';
import Numeros from '../components/Numeros.astro'
import Seccion from '../components/Seccion.astro';
import NuestroEquipo from '../components/NuestroEquipo.astro';

import Mapa from '../components/Mapa.astro';


---

<Layout title="Asesorias Penales" description="Reciba las mejores asesorias con nuestro equipo de abogados.">
	


	<main>
	
	<Video />
	<Servicios />
	<Numeros />
	<Seccion />
	<NuestroEquipo />
	<Mapa />
			
	</main>
	
		
</Layout>
