---
import Layout from "../layouts/Layout.astro";

import Video from "../components/Video.astro";
import Servicios from "../components/Servicios.astro";
import Numeros from "../components/Numeros.astro";
import Seccion from "../components/Seccion.astro";
import Mapa from "../components/Mapa.astro";
import SeccionB from "../components/SeccionB.astro";
import SeccionC from "../components/SeccionC.astro";
---

<Layout
  title="Osma | Abogado"
  description="Reciba las mejores asesorias con nuestro equipo de abogados."
>
  <main>
    <Video />
    <Servicios />
    <Numeros />
    <Seccion />
    <SeccionC />
    <SeccionB />
    <Mapa />
  </main>
</Layout>
