<section class="relative flex items-center min-h-[400px] bg-cover bg-center">

    <div class="absolute inset-0 bg-"></div> 
     <img class="w-full h-full object-cover" src="/asesoria.jpg" alt="">
    <div class="container mx-auto px-4">
      <div class="absolute inset-0 flex flex-col items-center justify-center text-center">
        <h2 class="uppercase text-white text-2xl md:text-4xl font-bold">Asesorias</h2>
      </div>
    </div>
  </section>

  <h1 class="uppercase text-black text-2xl md:text-4xl font-bold">
    EN MANTENIMIENTO
  </h1>
  <h2 class="uppercase text-black text-2xl md:text-xl font-bold">
    Proximamente Disponible...
  </h2>