<section class="relative flex items-center min-h-[60vh] sm:min-h-[500px] bg-cover bg-center">
  <!-- Imagen de fondo -->
  <img class="absolute inset-0 w-full h-full object-cover z-0" src="/asesoria.png" alt="Fondo de la firma" />
  
  <!-- Capa oscura opcional (si deseas añadir contraste al texto) -->
  <div class="absolute inset-0 bg-black/40 z-10"></div>

  <!-- Contenido centrado -->
  <div class="relative z-20 container mx-auto px-4">
    <div class="flex flex-col items-center justify-center text-center">
      <h2 class="uppercase text-white text-2xl sm:text-4xl md:text-4xl font-bold">Asesorias</h2>
    </div>
  </div>
</section>



  <section class="relative py-16 sm:py-20 md:py-24 overflow-hidden">
  <!-- Círculo decorativo -->
  <div class="absolute -bottom-24 -right-24 h-96 w-96 rounded-full  z-0"></div>

  <!-- Contenido principal -->
  <div class="container mx-auto relative z-10 px-6 sm:px-10 lg:px-16">
    <div class="grid gap-10 md:gap-12 md:grid-cols-2 md:items-center">
      
      <!-- Texto -->
      <div>
      
        <h2 class="mt-6 text-3xl sm:text-4xl font-bold tracking-tight bg-clip-text text-black" data-aos="fade-down" >
          Derecho Civil
        </h2>
        <p class="opacity-70 mt-4 text-base sm:text-lg text-black/90" data-aos="fade-down" >
          Nuestro equipo brinda acompañamiento jurídico especializado en Derecho Civil, con un enfoque particular en los trámites de sucesión, ya sea por vía notarial o judicial. Asesoramos a herederos en cada etapa del proceso sucesoral, desde la identificación de bienes y determinación de herederos hasta la elaboración de la partición de herencia y su formalización ante la autoridad competente. Nuestro objetivo es ofrecer un proceso claro, ágil y sin contratiempos, garantizando el cumplimiento de la normativa legal y la protección del patrimonio familiar. También brindamos asesoría en conflictos civiles, contratos, propiedad, y demás asuntos patrimoniales que requieran una intervención legal experta y estratégica.


        </p>
        
        <div class="mt-8">
           <a href="https://wa.me/573104500109" target="_blank" rel="noopener noreferrer">
              <button class="border-[3px] border-blue-500/50 bg-white/5 backdrop-blur-sm text-sm hover:bg-blue-500/50 hover:text-white transition-colors mt-6 text-black font-medium py-2 px-4 rounded" data-aos="fade-down">
            ¡Consulta Aqui!
          </button>
          </a>
        </div>
      </div>

      <!-- video -->
     <div class="aspect-video overflow-hidden rounded-xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-[0_0_30px_rgba(0,200,255,0.1)]" data-aos="fade-down">
      <img class="w-full h-full " src="/derecho-civil.webp" alt="">
      </div>
    </div>
  </div>
</section>

  <section class="relative py-16 sm:py-20 md:py-24 overflow-hidden">
  <!-- Círculo decorativo -->
  <div class="absolute -bottom-24 -right-24 h-96 w-96 rounded-full  z-0"></div>

  <!-- Contenido principal -->
  <div class="container mx-auto relative z-10 px-6 sm:px-10 lg:px-16">
    <div class="grid gap-10 md:gap-12 md:grid-cols-2 md:items-center">
      
      <!-- Texto -->
      <div>
       
        <h2 class="mt-6 text-3xl sm:text-4xl font-bold tracking-tight bg-clip-text text-black" data-aos="fade-down" >
          Derecho Penal
        </h2>
        <p class="opacity-70 mt-4 text-base sm:text-lg text-black/90" data-aos="fade-down" >
         En materia penal, ofrecemos una defensa técnica integral tanto para personas investigadas como para víctimas de delitos. Nuestro servicio abarca todas las etapas del proceso penal: desde la indagación preliminar, imputación, formulación de cargos, juicio oral, hasta la ejecución de la sentencia. Actuamos con ética, compromiso y rigurosidad, garantizando una representación efectiva y respetuosa de los derechos fundamentales de nuestros clientes. Si eres víctima, te acompañamos en la búsqueda de justicia, reparación y verdad; si enfrentas un proceso penal, te brindamos una defensa sólida basada en el análisis detallado del caso, estrategias jurídicas fundamentadas y un acompañamiento humano durante todo el proceso.


        </p>
       
        <div class="mt-8">
           <a href="https://wa.me/573104500109" target="_blank" rel="noopener noreferrer">
              <button class="border-[3px] border-blue-500/50 bg-white/5 backdrop-blur-sm text-sm hover:bg-blue-500/50 hover:text-white transition-colors mt-6 text-black font-medium py-2 px-4 rounded" data-aos="fade-down">
            ¡Consulta Aqui!
          </button>
          </a>
        </div>
      </div>

      <!-- video -->
     <div class="aspect-video overflow-hidden rounded-xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-[0_0_30px_rgba(0,200,255,0.1)]" data-aos="fade-down">
     
      <img class="w-full h-full " src="/derecho-penal.webp" alt="">
      </div>
    </div>
  </div>
</section>

  <section class="relative py-16 sm:py-20 md:py-24 overflow-hidden">
  <!-- Círculo decorativo -->
  <div class="absolute -bottom-24 -right-24 h-96 w-96 rounded-full  z-0"></div>

  <!-- Contenido principal -->
  <div class="container mx-auto relative z-10 px-6 sm:px-10 lg:px-16">
    <div class="grid gap-10 md:gap-12 md:grid-cols-2 md:items-center">
      
      <!-- Texto -->
      <div>
       
        <h2 class="mt-6 text-3xl sm:text-4xl font-bold tracking-tight bg-clip-text text-black" data-aos="fade-down" >
          Derecho Constitucional
        </h2>
        <p class="opacity-70 mt-4 text-base sm:text-lg text-black/90" data-aos="fade-down" >
          Defendemos tus derechos fundamentales mediante la utilización efectiva de los mecanismos de protección consagrados en la Constitución. Redactamos y tramitamos acciones de tutela para reclamar el respeto de derechos vulnerados, elaboramos derechos de petición en nombre de personas naturales o jurídicas, y promovemos acciones de habeas corpus en casos de privación injusta de la libertad. Nuestro equipo se encarga de asesorarte en cada paso, garantizando que tus reclamaciones sean presentadas con solidez argumentativa y respaldo jurídico. Además, brindamos acompañamiento estratégico frente a entidades públicas o privadas cuando se requiere la defensa inmediata de tus derechos como ciudadano.
        </p>
       
        <div class="mt-8">
          <a href="https://wa.me/573104500109" target="_blank" rel="noopener noreferrer">
              <button class="border-[3px] border-blue-500/50 bg-white/5 backdrop-blur-sm text-sm hover:bg-blue-500/50 hover:text-white transition-colors mt-6 text-black font-medium py-2 px-4 rounded" data-aos="fade-down">
            ¡Consulta Aqui!
          </button>
          </a>
        </div>
      </div>

      <!-- video -->
     <div class="aspect-video overflow-hidden rounded-xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-[0_0_30px_rgba(0,200,255,0.1)]" data-aos="fade-down">
      
      <img class="w-full h-full " src="/derecho-constitucional.webp" alt="">
      </div>
    </div>
  </div>
</section>

  <section class="relative py-16 sm:py-20 md:py-24 overflow-hidden">
  <!-- Círculo decorativo -->
  <div class="absolute -bottom-24 -right-24 h-96 w-96 rounded-full  z-0"></div>

  <!-- Contenido principal -->
  <div class="container mx-auto relative z-10 px-6 sm:px-10 lg:px-16">
    <div class="grid gap-10 md:gap-12 md:grid-cols-2 md:items-center">
      
      <!-- Texto -->
      <div>
        
        <h2 class="mt-6 text-3xl sm:text-4xl font-bold tracking-tight bg-clip-text text-black" data-aos="fade-down" >
          Consultoria Juridica
        </h2>
        <p class="opacity-70 mt-4 text-base sm:text-lg text-black/90" data-aos="fade-down" >
          Ofrecemos un servicio de consultoría jurídica integral orientado tanto a personas como a empresas que requieran soluciones claras y personalizadas a sus necesidades legales. Realizamos un análisis profundo de cada situación, proponiendo estrategias preventivas o correctivas según el caso. Nuestra consultoría incluye la elaboración, revisión y validación de contratos, conceptos jurídicos, actas, términos y condiciones, así como asesoría en procesos de negociación o resolución de conflictos. Ya sea que busques prevenir riesgos legales o resolver disputas existentes, te proporcionamos herramientas jurídicas sólidas que te permitan tomar decisiones informadas y seguras.
        </p>
       
        <div class="mt-8">
          <a href="https://wa.me/573104500109" target="_blank" rel="noopener noreferrer">
              <button class="border-[3px] border-blue-500/50 bg-white/5 backdrop-blur-sm text-sm hover:bg-blue-500/50 hover:text-white transition-colors mt-6 text-black font-medium py-2 px-4 rounded" data-aos="fade-down">
            ¡Consulta Aqui!
          </button>
          </a>
        </div>
      </div>

      <!-- video -->
     <div class="aspect-video overflow-hidden rounded-xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-[0_0_30px_rgba(0,200,255,0.1)]" data-aos="fade-down">
    
    <img class="w-full h-full " src="/consultoria-juridica.jpg" alt="">

      </div>
    </div>
  </div>
</section>


<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<script>
  // Importa y inicializa AOS
  import AOS from 'aos';
  
  document.addEventListener('DOMContentLoaded', () => {
    AOS.init({
      duration: 800,
      once: true,
      offset: 100
    });
  });

   
</script>



  

