---
import Mapa from "./Mapa.astro"
---
<section class="relative flex items-center min-h-[60vh] sm:min-h-[500px] bg-cover bg-center">

    <div class="absolute inset-0 bg-"></div> 
     <img class="w-full h-full object-cover" src="/img_contacto.png" alt="">
    <div class="container mx-auto px-4">
      <div class="absolute inset-0 flex flex-col items-center justify-center text-center">
        <h2 class="uppercase text-white text-2xl md:text-4xl font-bold">Contacto</h2>
      </div>
    </div>
  </section>
  
  
<section class="bg-white py-10">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-10">
    <!-- Columna de información de contacto -->
    <div>
      <h2 class="text-3xl font-bold mb-4">Contáctenos</h2>
      <p class="text-gray-600 mb-6">
        Para brindarle asesoría jurídica integral con expertos de talla nacional e internacional, incorporando de manera sistematizada la prevención y tratamiento de todo riesgo legal.
      </p>
      <ul class="space-y-4 text-gray-700">
        <li class="flex items-start gap-2">
          <svg class="size-6" viewBox="0 0 256 259" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="m67.663 221.823 4.185 2.093c17.44 10.463 36.971 15.346 56.503 15.346 61.385 0 111.609-50.224 111.609-111.609 0-29.297-11.859-57.897-32.785-78.824-20.927-20.927-48.83-32.785-78.824-32.785-61.385 0-111.61 50.224-110.912 112.307 0 20.926 6.278 41.156 16.741 58.594l2.79 4.186-11.16 41.156 41.853-10.464Z" fill="#00E676"/><path d="M219.033 37.668C195.316 13.254 162.531 0 129.048 0 57.898 0 .698 57.897 1.395 128.35c0 22.322 6.278 43.947 16.742 63.478L0 258.096l67.663-17.439c18.834 10.464 39.76 15.347 60.688 15.347 70.453 0 127.653-57.898 127.653-128.35 0-34.181-13.254-66.269-36.97-89.986ZM129.048 234.38c-18.834 0-37.668-4.882-53.712-14.648l-4.185-2.093-40.458 10.463 10.463-39.76-2.79-4.186C7.673 134.63 22.322 69.058 72.546 38.365c50.224-30.692 115.097-16.043 145.79 34.181 30.692 50.224 16.043 115.097-34.18 145.79-16.045 10.463-35.576 16.043-55.108 16.043Zm61.385-77.428-7.673-3.488s-11.16-4.883-18.136-8.371c-.698 0-1.395-.698-2.093-.698-2.093 0-3.488.698-4.883 1.396 0 0-.697.697-10.463 11.858-.698 1.395-2.093 2.093-3.488 2.093h-.698c-.697 0-2.092-.698-2.79-1.395l-3.488-1.395c-7.673-3.488-14.648-7.674-20.229-13.254-1.395-1.395-3.488-2.79-4.883-4.185-4.883-4.883-9.766-10.464-13.253-16.742l-.698-1.395c-.697-.698-.697-1.395-1.395-2.79 0-1.395 0-2.79.698-3.488 0 0 2.79-3.488 4.882-5.58 1.396-1.396 2.093-3.488 3.488-4.883 1.395-2.093 2.093-4.883 1.395-6.976-.697-3.488-9.068-22.322-11.16-26.507-1.396-2.093-2.79-2.79-4.883-3.488H83.01c-1.396 0-2.79.698-4.186.698l-.698.697c-1.395.698-2.79 2.093-4.185 2.79-1.395 1.396-2.093 2.79-3.488 4.186-4.883 6.278-7.673 13.951-7.673 21.624 0 5.58 1.395 11.161 3.488 16.044l.698 2.093c6.278 13.253 14.648 25.112 25.81 35.575l2.79 2.79c2.092 2.093 4.185 3.488 5.58 5.58 14.649 12.557 31.39 21.625 50.224 26.508 2.093.697 4.883.697 6.976 1.395h6.975c3.488 0 7.673-1.395 10.464-2.79 2.092-1.395 3.487-1.395 4.882-2.79l1.396-1.396c1.395-1.395 2.79-2.092 4.185-3.487 1.395-1.395 2.79-2.79 3.488-4.186 1.395-2.79 2.092-6.278 2.79-9.765v-4.883s-.698-.698-2.093-1.395Z" fill="#FFF"/></svg>
          
          <span><b>Teléfono:</b> (+57) 310 450 0109 - (601) 736 7032</span>
        </li>
        <li class="flex items-start gap-2">
           <svg class="size-6" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" height="32" id="Layer_1" viewBox="0 0 32 32" width="32"><path d="M25.3959,8.8345l-.0039.0038c.0837.2319.1617.4667.2285.7062C25.5527,9.3047,25.48,9.067,25.3959,8.8345Z" fill="#4285f4"/><path d="M16,2.23,8.929,5.1593,12.9916,9.222A4.2486,4.2486,0,0,1,19.0208,15.21L25,9.23l.392-.392A9.9872,9.9872,0,0,0,16,2.23Z" fill="#4285f4"/><path d="M16,16.4733A4.25,4.25,0,0,1,12.9916,9.222L8.929,5.1593A9.9683,9.9683,0,0,0,6,12.23c0,4.4057,2.2651,7.1668,4.93,10,.1787.1828.3274.3852.4959.5746l7.5608-7.5609A4.2341,4.2341,0,0,1,16,16.4733Z" fill="#ffba00"/><path d="M16,2.23a10,10,0,0,0-10,10,11.0918,11.0918,0,0,0,.5454,3.4546l12.8505-12.85A9.9563,9.9563,0,0,0,16,2.23Z" fill="#0066da"/><path d="M16.9011,29.12a21.83,21.83,0,0,1,4.032-6.8966C23.7976,19.3129,26,16.636,26,12.23a9.9585,9.9585,0,0,0-.6041-3.3958l-13.97,13.97A18.0436,18.0436,0,0,1,15.0173,29.08.9975.9975,0,0,0,16.9011,29.12Z" fill="#00ac47"/><path d="M10.93,22.23c.1787.1828.3274.3852.4959.5746h0C11.257,22.6155,11.1083,22.4131,10.93,22.23Z" fill="#0066da" opacity="0.5"/><path d="M7.207,7.4637A9.9357,9.9357,0,0,0,6.45,9.2566,9.9429,9.9429,0,0,1,7.207,7.4637Z" fill="#0066da" opacity="0.5"/><path d="M6.45,9.2566a9.9522,9.9522,0,0,0-.398,1.9513A9.9537,9.9537,0,0,1,6.45,9.2566Z" fill="#0066da" opacity="0.5"/><path d="M15.1957,29.3989c.02.0248.0445.0422.0664.0644C15.24,29.4411,15.2156,29.4236,15.1957,29.3989Z" fill="#fff"/><path d="M15.7874,29.7429l.04.0066Z" fill="#fff"/><path d="M13.6216,25.9269c-.0371-.067-.0679-.1382-.1059-.2047C13.5533,25.789,13.5849,25.86,13.6216,25.9269Z" fill="#fff"/><path d="M15.0173,29.08q-.3069-.9036-.6906-1.7566C14.5793,27.8937,14.8127,28.4771,15.0173,29.08Z" fill="#fff"/><path d="M15.5269,29.6563c-.0229-.0112-.0463-.0207-.0684-.0338C15.4809,29.6356,15.5036,29.6452,15.5269,29.6563Z" fill="#fff"/><path d="M19.7117,23.7529c-.249.3474-.4679.7125-.6927,1.0741C19.2431,24.465,19.4633,24.1006,19.7117,23.7529Z" fill="#fff"/><polygon fill="#fff" points="23.322 19.553 23.322 19.553 23.322 19.553 23.322 19.553"/><path d="M17.0468,28.774h0q.3516-.887.7561-1.7428C17.5316,27.6006,17.2812,28.1826,17.0468,28.774Z" fill="#fff"/><path d="M18.68,25.3584c-.2879.4957-.55,1.0068-.8,1.5242C18.13,26.3647,18.3931,25.8547,18.68,25.3584Z" fill="#fff"/><path d="M8.929,5.1593A9.9683,9.9683,0,0,0,6,12.23a11.0918,11.0918,0,0,0,.5454,3.4546L13,9.23Z" fill="#ea4435"/></svg>
          <span><b>Dirección:</b> Carrera 13 #96-67. <br /> Edificio Akori Oficina 207 Barrio Chicó Norte. Bogotá D.C, Colombia</span>
        </li>
        <li class="flex items-start gap-2">
            <svg class="size-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve"><g id="_x31_12-gmail_x2C__email_x2C__mail"><g><g><g><rect height="358.87" style="fill:#F1F5F7;" width="357.904" x="77.045" y="76.565"/><path d="M256.002,293.738l178.947,141.697v-279.74L256.002,293.738z M256.002,293.738" style="fill:#DCE6EA;"/><path d="M449.861,76.565h-14.912L256.002,218.26L77.045,76.565H62.134      c-24.693,0-44.737,20.094-44.737,44.858v269.152c0,24.759,20.044,44.859,44.737,44.859h14.911v-279.74l178.957,138.014      l178.947-138.047v279.773h14.912c24.699,0,44.742-20.101,44.742-44.859V121.424C494.604,96.66,474.561,76.565,449.861,76.565      L449.861,76.565z M449.861,76.565" style="fill:#F84437;"/></g></g></g></g><g id="Layer_1"/></svg>
          <span><b>Correo Personal:</b> <a class="text-blue-500" href="#">Osmacorporacionlegal@gmail.com</a> </span>
        </li>
        <li class="flex items-start gap-2">
            <svg class="size-8" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32"><g fill-rule="evenodd"><path d="M.273 29.123V6.347a2.4 2.4 0 0 1 2.398-2.399h22.775z" fill="#1ea361"/><path d="M.273 29.6v-.478L25.447 3.95h.478a2.4 2.4 0 0 1 2.399 2.398v.48L3.15 32H2.67a2.4 2.4 0 0 1-2.398-2.399" fill="#fedb43"/><path d="M3.15 32L14.3 20.852 25.447 32z" fill="#5384c4"/><path d="M25.447 32L14.298 20.85l2.876-2.877 11.15 11.15v.478A2.4 2.4 0 0 1 25.925 32h-.478z" fill="#fff"/><path d="M28.324 29.123l-11.15-11.15 11.15-11.15z" fill="#c2c2c1"/></g><path d="M5.276 7.05c1.427-.653 3.213-.387 4.372.682l-1.108 1.1c-1.16-1.15-3.337-.605-3.88.917-.7 1.498.47 3.467 2.14 3.488 1.093.127 2.184-.605 2.415-1.694-.764.001-1.526-.006-2.288.006l-.014-1.413 3.84.052c.096.933.03 1.923-.472 2.74-.787 1.464-2.644 2.104-4.216 1.734-1.943-.403-3.397-2.396-3.132-4.37C3.068 8.9 4 7.627 5.276 7.05" fill="#efefef"/><path d="M23.424 0h.912c2.273.13 4.495 1.24 5.872 3.067.902 1.154 1.406 2.586 1.52 4.04v.54c-.053 2.82-1.857 5.134-3.42 7.327-1.754 2.478-3.374 5.18-3.824 8.233-.12.517.024 1.242-.594 1.475-.145-.113-.315-.207-.417-.365-.183-1.707-.6-3.394-1.338-4.953-.827-1.817-1.977-3.46-3.147-5.065-.712-.963-1.383-1.96-1.938-3.024-.872-1.593-1.197-3.475-.84-5.262.292-1.4 1.03-2.72 2.053-3.73C19.64.936 21.503.12 23.424 0m-.177 4.966c-1.078.24-1.983 1.194-2.074 2.3a2.61 2.61 0 0 0 1.426 2.552 2.85 2.85 0 0 0 3.179-.401 2.59 2.59 0 0 0 .663-2.873c-.487-1.218-1.93-1.912-3.194-1.6" fill="#dc4b3e"/><path d="M23.247 4.966c1.263-.323 2.708.37 3.194 1.6.4.973.124 2.176-.663 2.873a2.85 2.85 0 0 1-3.179.401c-.93-.46-1.54-1.513-1.426-2.552.1-1.116.996-2.07 2.074-2.3" fill="#802c27"/></svg>
          <span><b>Con operación en:</b> Antioquia, Atlántico, Bolívar, Boyacá, Casanare, Córdoba, Magdalena, Nariño, Santander, Sucre, Tolima, Valle del Cauca</span>
        </li>
      </ul>

      <h2 class="text-2xl font-bold mt-8 mb-4">Horario de Atención</h2>
      <ul>
        <li class="flex items-start gap-2">
            <svg class="size-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <g>
                    <g id="_x37__16_">
                        <g>
                            <path d="M286.875,535.5h38.25v-38.25h-38.25V535.5z M306,76.5c-10.557,0-19.125,8.568-19.125,19.125v191.709h-153     c-10.557,0-19.125,8.568-19.125,19.125c0,10.557,8.568,19.125,19.125,19.125H306c10.557,0,19.125-8.568,19.125-19.125V95.625     C325.125,85.068,316.557,76.5,306,76.5z M128.769,436.662l26.469,26.526l26.469-26.526l-26.469-26.526L128.769,436.662z      M185.378,159.177l-27.062-27.042l-27.043,27.042l27.043,27.043L185.378,159.177z M422.203,158.221l26.47,26.526l26.469-26.526     l-26.469-26.526L422.203,158.221z M416.6,435.629l27.043,27.043l27.043-27.043l-27.043-27.042L416.6,435.629z M497.25,286.875     v38.25h38.25v-38.25H497.25z M306,0C136.992,0,0,137.012,0,306c0,169.008,136.992,306,306,306s306-137.012,306-306     S475.008,0,306,0z M306,573.75C158.125,573.75,38.25,453.875,38.25,306C38.25,158.125,158.125,38.25,306,38.25     c147.875,0,267.75,119.875,267.75,267.75C573.75,453.875,453.875,573.75,306,573.75z"/>
                        </g>
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>
          <span><b>Lunes a Viernes:</b> 8:30 am - 6:00 pm</span>
        </li>
      </ul>
      <div class="mt-2">
        <a href="https://wa.me/573104500109">
          <button class="border-[3px] border-blue-500/50 bg-white/5 backdrop-blur-sm text-sm hover:bg-blue-500/50 hover:text-white transition-colors mt-6 text-black font-medium py-2 px-4 rounded">
            ¡Agenda Cita Aqui!
          </button>
          </a>


      
    </div>
    
  </div>
   
</section>


<Mapa />