<section class="relative flex items-center min-h-[500px] bg-cover bg-center">

    <div class="absolute inset-0 bg-"></div> 
     <img class="w-full h-full object-cover" src="/firma-page.jpg" alt="">
    <div class="container mx-auto px-4">
      <div class="absolute inset-0 flex flex-col items-center justify-center text-center">
        <h2 class="uppercase text-white text-2xl md:text-4xl font-bold">Nuestra Firma</h2>
      </div>
    </div>
  </section>

  <section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24 ">

    <p class="opacity-70 mt-4 text-base sm:text-lg text-black/80">
        Somos una reconocida firma de abogados que desde el año 1998 ha venido brindando asesoría jurídica y representación a empresas de diferentes tamaños y sectores económicos en varios países de América Latina. Nuestra sede principal está ubicada en la ciudad de Bogotá y desde hace varios años atendemos a nuestros clientes regionales de manera directa en oficinas en diferentes ciudades de Colombia, Panamá y a través de corresponsales en otros países. Actualmente la firma está conformada por un equipo de alrededor de cincuenta personas que brindan soluciones legales con una de las mejores relaciones de costo-beneficio del mercado.


    </p>
   

    <h1 class="text-4xl font-semibold my-6  text-wrap mx-auto mb-10 tracking-wide">
        Nuestra Historia
    </h1>
    <p class="opacity-70 mt-4 text-base sm:text-lg text-black/80">
        En 1997, Diego Muñoz Marroquín inicia la prestación de servicios legales independientes, después de trabajar durante varios años en otras firmas de abogados especializadas en temas de propiedad intelectual. En 2001 se organiza formalmente como sociedad comercial, con el propósito de proveer servicios jurídicos en propiedad intelectual, especialmente en lo relacionado con registros marcarios, convirtiéndose en corto tiempo en una de las principales firmas colombianas de este sector.
    </p>

    <p class="opacity-70 mt-4 text-base sm:text-lg text-black/80">
        En el año 2003 se vincula el administrador de empresas, Luis Hernando Agudelo, como socio administrativo de la firma. En ese año se realiza el primer plan estratégico quinquenal para definir el norte filosófico de la empresa en áreas funcionales, y pronto la firma adquiere gran renombre y posicionamiento en el mercado latinoamericano. En el año 2004 se convierte en la primera firma legal colombiana con oficinas directas en otros países. A partir del año 2008 la firma deja de ser una firma boutique para convertirse en una firma de práctica general. En el 2015, se vinculan nuevos socios, cada uno especializado en su respectiva área de práctica, ofreciendo a nuestros clientes servicios jurídicos integrales.
    </p>
    <p class="opacity-70 mt-4 text-base sm:text-lg text-black/80">
        La misión de Muñoz Abogados es contribuir al desarrollo y a la prosperidad de nuestros clientes, a través de la prestación de servicios legales integrales y de altísima calidad, dentro de estrictos principios éticos, con un talento humano motivado, profesional y actualizado, comprometido con la satisfacción de las necesidades de nuestros clientes y la defensa de sus intereses.
    </p>

</section>

<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24 ">
   

    <h1 class="text-4xl font-semibold  text-wrap mx-auto mb-10 tracking-wide">
        Vision
    </h1>
    <p class="opacity-70 mt-4 text-base sm:text-lg text-black/80">
        En 1997, Diego Muñoz Marroquín inicia la prestación de servicios legales independientes, después de trabajar durante varios años en otras firmas de abogados especializadas en temas de propiedad intelectual. En 2001 se organiza formalmente como sociedad comercial, con el propósito de proveer servicios jurídicos en propiedad intelectual, especialmente en lo relacionado con registros marcarios, convirtiéndose en corto tiempo en una de las principales firmas colombianas de este sector.
    </p>

    

</section>

<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-24 ">
   

    <h1 class="text-4xl font-semibold  text-wrap mx-auto mb-10 tracking-wide">
        Mision
    </h1>
    <p class="opacity-70 mt-4 text-base sm:text-lg text-black/80">
        En 1997, Diego Muñoz Marroquín inicia la prestación de servicios legales independientes, después de trabajar durante varios años en otras firmas de abogados especializadas en temas de propiedad intelectual. En 2001 se organiza formalmente como sociedad comercial, con el propósito de proveer servicios jurídicos en propiedad intelectual, especialmente en lo relacionado con registros marcarios, convirtiéndose en corto tiempo en una de las principales firmas colombianas de este sector.
    </p>

    

</section>

<section class="w-full p-20 max-w-6xl mx-auto ">
    <h3 class="uppercase text-black text-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto">
        
        <lite-youtube 
        class="shadow-2xl shadow-white/10 rounded-xl"
        videoid="YdUTA51pWX4"
        videotitle="Conocenos">
        

        </lite-youtube>
 

    </h3>


</section>

<script>
    import "@justinribeiro/lite-youtube"
</script>