<section class="text-xl text-left px-20 max-w-[105ch] text-pretty mx-auto my-10">
    

    <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
       Nuestra Ubicacion
    </h1>
</section>

<div class="flex justify-center items-center mx-auto py-10">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.772652156715!2d-74.06445402586574!3d4.6346040953401575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a24e4b448d9%3A0x25aed74444c2abe7!2sChapinero%20Alto%2C%20Santa%20F%C3%A9%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1745212207653!5m2!1ses!2sco"
    width="850" 
    height="450"
     class="border-0" 
     allowfullscreen="" 
     loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</div>