---
import { CountUp } from "./CountUp";
---



<section class="relative w-full py-20 px-6 lg:px-20">

  <!-- Imagen de fondo en pantalla completa -->
  <div class="absolute inset-0 w-full h-full z-0">
    <img src="./fondo.jpg" alt="fondo" class="w-full h-full object-cover" />
    <div class="absolute inset-0 bg-blue-950/60"></div>
  </div>

  <!-- Contenido centrado y limitado -->
  <div class="relative z-10 max-w-4xl mx-auto">

    <h2 class="lg:text-4xl px-3 py-1 text-sm font-medium    text-center text-balance mb-10 lg:mb-20 text-white">
      Nuestros Números
    </h2>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-10 text-white">

      <div class="flex flex-col justify-center items-center">
        <span class="number text-4xl font-bold tabular-nums tracking-tighter">
          +<CountUp client:visible initial={0} final={20} />
        </span>
        <span class="uppercase opacity-70 text-center">Años de experiencia</span>
      </div>

      <div class="flex flex-col justify-center items-center">
        <span class="number text-4xl font-bold tabular-nums tracking-tighter">
          +<CountUp client:visible initial={0} final={95} />%
        </span>
        <span class="uppercase opacity-70 text-center">De Casos Ganados</span>
      </div>

      <div class="flex flex-col justify-center items-center">
        <span class="number text-4xl font-bold tabular-nums tracking-tighter">
          +<CountUp client:visible initial={0} final={1.5} decimals={1} />M
        </span>
        <span class="uppercase opacity-70 text-center">De clientes satisfechos</span>
      </div>

    </div>
  </div>
</section>




<style>
    .number {
        text-shadow: 
        3px 3px 6px rgba(0, 0, 0, 0.3); /* Sombra de texto */
    }
    
</style>