
<section class="relative py-16 sm:py-20 md:py-24 overflow-hidden">
  <!-- Círculo decorativo -->
  <div class="absolute -bottom-24 -right-24 h-96 w-96 rounded-full  z-0"></div>

  <!-- Contenido principal -->
  <div class="container mx-auto relative z-10 px-6 sm:px-10 lg:px-16">
    <div class="grid gap-10 md:gap-12 md:grid-cols-2 md:items-center">
      
      <!-- Texto -->
      <div>
        
        <h2 class="mt-6 text-3xl sm:text-4xl font-bold tracking-tight bg-clip-text text-black" data-aos="fade-down" >
          Nuestra Vision
        </h2>
        <p class="opacity-70 mt-4 text-base sm:text-lg text-black/70" data-aos="fade-down" >
           <strong>Osma Corporacion legal </strong> se proyecta como una firma jurídica de alto nivel, reconocida en todo el
          país por su excelencia en derecho penal y su capacidad para ofrecer soluciones jurídicas integrales.
          Aspiramos a posicionarnos como un referente en el ejercicio del derecho, con un equipo humano y
          profesional en constante formación, comprometido con la        innovación legal y la defensa efectiva de
          los derechos fundamentales.
        </p>
        <p class="opacity-70 mt-4 text-base sm:text-lg text-black/70" data-aos="fade-down" >
          Nuestro propósito es ser una de las mejores firmas del país,
          destacándonos por la calidad del servicio, la ética profesional y el impacto positivo que generamos
          en la vida de nuestros clientes y en la sociedad.
        </p>
        <div class="mt-8">
        
          <a href="https://wa.me/573104540109" target="_blank" rel="noopener noreferrer">
              <button class="border-[3px] border-blue-500/50 bg-white/5 backdrop-blur-sm text-sm hover:bg-blue-500/50 hover:text-white transition-colors mt-6 text-black font-medium py-2 px-4 rounded" data-aos="fade-down">
            ¡Consulta Aqui!
          </button>
          </a>
        </div>
      </div>

      <!-- video -->
     <div class="aspect-video overflow-hidden rounded-xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-[0_0_30px_rgba(0,200,255,0.1)]" data-aos="fade-down">
       <h3 class="uppercase text-black text-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto">
        
        <lite-youtube 
        class="shadow-2xl shadow-white/10 rounded-xl"
        videoid="C6UJgpvYN_k"
        videotitle="Corporación Osma">
        

        </lite-youtube>
 

    </h3>
      </div>
    </div>
  </div>
</section>


<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<script>
  // Importa y inicializa AOS
  import AOS from 'aos';
  
  document.addEventListener('DOMContentLoaded', () => {
    AOS.init({
      duration: 800,
      once: true,
      offset: 100
    });
  });

   
</script>


